<% LETTERS = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'] %>


<div>
  <table>
    <tr id="column-labels">
      <td class="corner"></td>
      <% ('A'..'H').each do |text| %>
        <td class="column-label"><%= text %></td>
      <% end %>
      <td class="corner"></td>
    </tr>
    <% (1..8).each do |row| %>
      <td class="row-label"><%= row %></td>
      <% (1..8).each do |square| %>
        <% if square % 2 == 1 %>
          <% if [ 2, 4, 6, 8].include?(row) %>
              <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "closed-square"></td>
          <% else %>
            <% if @board[row - 1][square - 1].nil? %>
                <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"></a></td>
            <% elsif @board[row - 1][square - 1].color == :red and @board[row - 1][square - 1].is_king? %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_king_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :red %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :black and @board[row - 1][square - 1].is_king? %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_king_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :black %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_checker.png" alt="red checker" /></a></td>
            <% end %>
          <% end %>
        <% else %>
          <% if [1, 3, 5, 7].include?(row) %>
              <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "closed-square"></td>
          <% else %>
            <% if @board[row - 1][square - 1].nil? %>
                <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"></a></td>
            <% elsif @board[row - 1][square - 1].color == :red and @board[row - 1][square - 1].is_king? %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_king_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :red %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :black and @board[row - 1][square - 1].is_king? %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_king_checker.png" alt="red checker" /></a></td>
            <% elsif @board[row - 1][square - 1].color == :black %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_checker.png" alt="red checker" /></a></td>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <td class="row-label"><%= row %></td>
      </tr>
    <% end %>
    <tr id="column-labels">
      <td class="corner"></td>
      <% ('A'..'H').each do |text| %>
        <td class="column-label"><%= text %></td>
      <% end %>
      <td class="corner"></td>
    </tr>
  </table>
</div>
<div class="move-history" >
</div>
<div class="game-info" >
  <p id="move-feedback"><%= @message %></p>
</div>
