<!--
<div>
<table>
  <tr id="column-labels">
    <td class="corner"></td>
    <td class="column-label">A</td>
    <td class="column-label">B</td>
    <td class="column-label">C</td>
    <td class="column-label">D</td>
    <td class="column-label">E</td>
    <td class="column-label">F</td>
    <td class="column-label">G</td>
    <td class="column-label">H</td>
    <td class="corner"></td>
  </tr>
  <tr>
    <td class="row-label">1</td>
    <td id="A1"  class= "open-square">Square 1</td>
    <td id="B1"  class= "closed-square">Square 2</td>
    <td id="C1"  class= "open-square">Square 3</td>
    <td id="D1"  class= "closed-square">Square 4</td>
    <td id="E1"  class= "open-square">Square 5</td>
    <td id="F1"  class= "closed-square">Square 6</td>
    <td id="G1"  class= "open-square">Square 7</td>
    <td id="H1"  class= "closed-square">Square 8</td>
    <td class="row-label">1</td>
  </tr>
  <tr>
    <td class="row-label">2</td>
    <td id="A2"  class= "closed-square">Square 9</td>
    <td id="B2"  class= "open-square">Square 10</td>
    <td id=""  class= "closed-square">Square 11</td>
    <td id=""  class= "open-square">Square 12</td>
    <td id=""  class= "closed-square">Square 13</td>
    <td id=""  class= "open-square">Square 14</td>
    <td id=""  class= "closed-square">Square 15</td>
    <td id=""  class= "open-square">Square 16</td>
    <td class="row-label">2</td>
  </tr>
  <tr>
    <td class="row-label">3</td>
    <td id=""  class= "open-square">Square 17</td>
    <td id=""  class= "closed-square">Square 18</td>
    <td id=""  class= "open-square"><a href="/gameplay/A3" ><img src="/img/black_checker.png" alt="black checker" /></a></td>
    <td id=""  class= "closed-square">Square 20</td>
    <td id=""  class= "open-square">Square 21</td>
    <td id=""  class= "closed-square">Square 22</td>
    <td id=""  class= "open-square">Square 23</td>
    <td id=""  class= "closed-square">Square 24</td>
    <td class="row-label">3</td>
  </tr>
  <tr>
    <td class="row-label">4</td>
    <td id=""  class= "closed-square">Square 25</td>
    <td id=""  class= "open-square">Square 26</td>
    <td id=""  class= "closed-square">Square 27</td>
    <td id=""  class= "open-square">Square 28</td>
    <td id=""  class= "closed-square">Square 29</td>
    <td id=""  class= "open-square">Square 30</td>
    <td id=""  class= "closed-square">Square 31</td>
    <td id=""  class= "open-square">Square 32</td>
    <td class="row-label">4</td>
  </tr>
  <tr>
    <td class="row-label">5</td>
    <td id=""  class= "open-square">Square 33</td>
    <td id=""  class= "closed-square">Square 34</td>
    <td id=""  class= "open-square">Square 35</td>
    <td id=""  class= "closed-square">Square 36</td>
    <td id=""  class= "open-square">Square 37</td>
    <td id=""  class= "closed-square">Square 38</td>
    <td id=""  class= "open-square">Square 39</td>
    <td id=""  class= "closed-square">Square 40</td>
    <td class="row-label">5</td>
  </tr>
  <tr>
    <td class="row-label">6</td>
    <td id=""  class= "closed-square">Square 41</td>
    <td id=""  class= "open-square">Square 42</td>
    <td id=""  class= "closed-square">Square 43</td>
    <td id=""  class= "open-square">Square 44</td>
    <td id=""  class= "closed-square">Square 45</td>
    <td id=""  class= "open-square">Square 46</td>
    <td id=""  class= "closed-square">Square 47</td>
    <td id=""  class= "open-square">Square 48</td>
    <td class="row-label">6</td>
  </tr>
  <tr>
    <td class="row-label">7</td>
    <td id=""  class= "open-square">Square 49</td>
    <td id=""  class= "closed-square">Square 50</td>
    <td id=""  class= "open-square">Square 51</td>
    <td id=""  class= "closed-square">Square 52</td>
    <td id=""  class= "open-square">Square 53</td>
    <td id=""  class= "closed-square">Square 54</td>
    <td id=""  class= "open-square">Square 55</td>
    <td id=""  class= "closed-square">Square 56</td>
    <td class="row-label">7</td>
  </tr>
  <tr>
    <td class="row-label">8</td>
    <td id=""  class= "closed-square">Square 57</td>
    <td id=""  class= "open-square">Square 58</td>
    <td id=""  class= "closed-square">Square 59</td>
    <td id=""  class= "open-square">Square 60</td>
    <td id=""  class= "closed-square">Square 61</td>
    <td id=""  class= "open-square">Square 62</td>
    <td id=""  class= "closed-square">Square 63</td>
    <td id=""  class= "open-square">Square 64</td>
    <td class="row-label">8</td>
  </tr>
  <tr id="column-labels">
    <td class="corner"></td>
    <td class="column-label">A</td>
    <td class="column-label">B</td>
    <td class="column-label">C</td>
    <td class="column-label">D</td>
    <td class="column-label">E</td>
    <td class="column-label">F</td>
    <td class="column-label">G</td>
    <td class="column-label">H</td>
    <td class="corner"></td>
  </tr>
  </table>
  <div id="move-history" class="move-history">
  </div>
  <div id="game-info" class="game-info">
  </div>
</div>
-->

<% LETTERS = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'] %>
<script>


</script>
<div>
  <table>
    <tr id="column-labels">
      <td class="corner"></td>
      <% ('A'..'H').each do |text| %>
        <td class="column-label"><%= text %></td>
      <% end %>
      <td class="corner"></td>
    </tr>
    <% (1..8).each do |row| %>
      <td class="row-label"><%= row %></td>
      <% (1..8).each do |square| %>
        <% if square % 2 == 1 %>
          <% if [ 2, 4, 6, 8].include?(row) %>
              <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "closed-square"></td>
          <% else %>
            <% if @board[row - 1][square - 1].nil? %>
                <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"></a></td>
            <% elsif @board[row - 1][square - 1].color == :red %>
              <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_checker.png" alt="red checker" /></a></td>
            <% else %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_checker.png" alt="black checker" /></a></td>
            <% end %>
          <% end %>
        <% else %>
          <% if [1, 3, 5, 7].include?(row) %>
              <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "closed-square"></td>
          <% else %>
            <% if @board[row - 1][square - 1].nil? %>
                <td id=<%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"></a></td>
            <% elsif @board[row - 1][square - 1].color == :black %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/black_checker.png" alt="black checker" /></a></td>
            <% else %>
                <td id= <%= "#{LETTERS[square - 1]}#{row}" %> class= "open-square"><a href="/gameplay/<%= "#{LETTERS[square - 1]}#{row}" %><%= "?from=#{@from}" %><%= "&to=#{@to}" %><%= "&player=#{@player}" %><%= "&board=#{board_to_game_state_string(@board)}" %>"><img src="/img/red_checker.png" alt="red checker" /></a></td>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <td class="row-label"><%= row %></td>
      </tr>
    <% end %>
    <tr id="column-labels">
      <td class="corner"></td>
      <% ('A'..'H').each do |text| %>
        <td class="column-label"><%= text %></td>
      <% end %>
      <td class="corner"></td>
    </tr>
  </table>
</div>
<div class="move-history" >
</div>
<div class="game-info" >
  <p id="move-feedback"><%= @message %></p>
</div>
